<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">
	<extensions>
		<add assembly="Noos.Log"/>
	</extensions>
	<variable name="rootName" value="BicycleServiceCenter"/>
	<variable name="fileName" value="${shortdate}.txt"/>
	<variable name="archiveFileName" value="${#}.txt"/>
	<variable name="logDirectory" value="C:/Logs/${rootName}"/>
	<targets async="true">
		<target name="csv"
				xsi:type="File"
				fileName="${logDirectory}/${fileName}"
				archiveFileName="${logDirectory}/${archiveFileName}"
				archiveAboveSize="1048576"
				archiveNumbering="DateAndSequence"
				archiveDateFormat="yyyy-MM-dd">
			<layout xsi:type="CsvLayout" delimiter="Tab" withHeader="true">
				<column name="time" layout="${longdate}" />
				<column name="level" layout="${level}"/>
				<column name="message" layout="${message}" />
				<column name="exception" layout="${exception:format=toString,Data:maxInnerExceptionLevel=2}"/>
				<column name="callsite" layout="${callsite:includeNamespace=false:includeSourcePath=false}"/>
			</layout>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="csv" />
	</rules>
</nlog>